.subtitulo-seccion {
  margin-bottom: 30px;
  font-size: 25px;
  display: flex;
  flex-direction: row; /* Fuerza a que las letras de colores estén una al lado de otra */
  gap: 10px;
  justify-content: center;
}
.contenedor-video {
  margin: 40px 0;
}
.titulo-gameplay {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: row; /* Fuerza a que las letras de colores estén una al lado de otra */
  gap: 10px;
  font-size: 60px;
}
.contenedor-consolas {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.contenedor-consolas img {
  max-width: 100%;
  height: auto;
}
