#seccion-gameplay {
  background-color: #000;
  background-size: cover;
  background-position: center;
  padding: 80px 10%;
  color: white;
}

.subtitulo-seccion {
  margin-bottom: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: row; /* Fuerza a que las letras de colores estén una al lado de otra */
  gap: 10px;
  justify-content: center;
}
.subtitulo-consolas {
  margin-bottom: 30px;
  font-size: 45px;
  display: flex;
  flex-direction: row; /* Fuerza a que las letras de colores estén una al lado de otra */
  gap: 15px;
  justify-content: center;
}
.contenedor-video {
  margin: 40px 0;
}
.titulo-gameplay {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: row; /* Fuerza a que las letras de colores estén una al lado de otra */
  gap: 15px;
  font-size: 60px;
}
.contenedor-consolas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.contenedor-consolas img {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}
.tarjeta-consola {
  background-color: #2d2d2e;
  border: 2px solid #a855f7;
  border-radius: 10px;
  padding: 20px;
  max-width: auto;
  text-align: center;
  transition: all 0.3s ease; /* transición suave para el efecto hover */
  cursor: pointer;
}
.tarjeta-consola:hover {
  transform: scale(1.05); /* Aumenta el tamaño al pasar el ratón */
  box-shadow: 0 4px 8px #a855f7; /* Añade una sombra */
}
