/* CSS SECCION AUTOR SEBASTIAN------
/* fondo oscuro con estrellas */

.body-autor{
    background-image: url('/multimedia/nocheestrellada.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;}


/* la caja que contiene todo el poster */
.contenedor-autor {
    text-align: center;
    position: relative;
    width: 600px;
}

/* Estilo para los textos */
.texto-titulo h1 {
    font-size: 40px;
    margin: -10;
}

.texto-titulo p {
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
}

/* la consola  */
.consola {
    background-color: #58D68D; 
    width: 250px;
    height: 350px;
    margin: 20px auto;
    border-radius: 10px 10px 40px 10px;
    padding: 20px;
    border: 4px solid #2D3436;
}

/* la pantalla amarilla */
.pantalla {
    background-color: #F4D03F;
    padding: 15px;
    border-radius: 5px;
    border: 4px solid #2D3436;
}

.pantalla img {
    align-items: center;
    width: 100%; 
    border: 3px solid #000;
}

/* botones circulares purpuras */
.circulo {
    width: 30px;
    height: 30px;
    background-color: #A29BFE;
    border-radius: 50%;
    border: 3px solid #2D3436;
    display: inline-block;
    margin: 5px;
}

/* el boton de cruz */
.cruz {
    width: 50px;
    height: 50px;
    background-color: #2D3436;
    margin: 20px auto;
    /* truco para hacer forma de cruz fast fast fast */
    clip-path: polygon(35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0% 65%, 0% 35%, 35% 35%);
}